<div mat-dialog-title class="bg-pink-950">
  <h1 class="text-white">Expenses Form</h1>
</div>
<form [formGroup]="ExpensesForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <h2>Expenses Information</h2>
    <!-- Expense Information -->
    <div class="flex flex-row gap-2">
      <mat-form-field class="mt-2.5 w-full">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="amount" formControlName="amount" required>
        <div *ngIf="ExpensesForm.get('amount')?.invalid && (ExpensesForm.get('amount')?.dirty || ExpensesForm.get('amount')?.touched)">
          <small *ngIf="ExpensesForm.get('amount')?.errors?.['required']">Amount is required.</small>
          <small *ngIf="ExpensesForm.get('amount')?.errors?.['pattern']">Invalid amount format.</small>
        </div>
      </mat-form-field>

      <!-- <mat-form-field class="mt-2.5 w-full">
        <mat-label>Expense ID</mat-label>
        <input matInput placeholder="expenseID" formControlName="expenseID" required>
        <div *ngIf="ExpensesForm.get('expenseID')?.invalid && (ExpensesForm.get('expenseID')?.dirty || ExpensesForm.get('expenseID')?.touched)">
          <small *ngIf="ExpensesForm.get('expenseID')?.errors?.['required']">Expense ID is required.</small>
          <small *ngIf="ExpensesForm.get('expenseID')?.errors?.['minlength']">Expense ID must be at least 1 character.</small>
          <small *ngIf="ExpensesForm.get('expenseID')?.errors?.['maxlength']">Expense ID cannot be more than 10 characters.</small>
        </div>
      </mat-form-field> -->
    </div>

    <!-- Expense Types Information -->
    <div formGroupName="expensetypes" class="flex flex-row gap-2">
      <mat-form-field class="mt-2.5 w-full">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name" required>
        <div *ngIf="ExpensesForm.get('expensetypes.name')?.invalid && (ExpensesForm.get('expensetypes.name')?.dirty || ExpensesForm.get('expensetypes.name')?.touched)">
          <small *ngIf="ExpensesForm.get('expensetypes.name')?.errors?.['required']">Name is required.</small>
        </div>
      </mat-form-field>

      <mat-form-field class="mt-2.5 w-full">
        <mat-label>Description</mat-label>
        <input matInput placeholder="description" formControlName="description">
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="flex flex-row gap-2 p-4">
    <button mat-raised-button type="button" [mat-dialog-close]="false"
      class="flex-1 text-white bg-pink-950 hover:bg-gray-400 hover:border-pink-950 hover:text-white rounded-lg px-2 py-1 transition-transform duration-300 transform focus:scale-105" color="warn">
      Cancel
    </button>
    <div class="submitting">
      <div class="bg-blue-500 text-white flex flex-row gap-2" id="spinner" role="status" *ngIf="isSubmitting">
        <mat-spinner [diameter]="30" class="mat-spinner-color"></mat-spinner>
        <span class="visually-hidden">Submitting...</span>
      </div>
      <button mat-raised-button type="submit" *ngIf="!isSubmitting"
        class="flex-1 text-white bg-blue-500 border hover:bg-gray-400 hover:border-blue-500 hover:text-white rounded-lg px-2 py-1 transition-transform duration-300 transform focus:scale-105" color="primary">
        Save
      </button>
    </div>
  </div>
</form>
