<div class="bg-cover bg-center min-h-screen flex justify-center items-center" style="background-image: url('../../../../../assets/city\ background.jpg')">
    <div  class="bg-white-900 min-h-screen flex justify-center items-center">
      <div class="bg-white p-8 rounded-lg shadow-md w-96 ">
        <span *ngIf="loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>
        <div class="card-header">
          <div class="">
            <span>
              <h1>Forgot Password</h1>
            </span>
          </div>
          <div class="profile-card"></div>
        </div>
        <div class="card-body">
          <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Your Email</label>
              <input type="email" formControlName="emailAddress" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formData.get('emailAddress')?.errors }" />
              <div *ngIf="submitted && formData.get('emailAddress')?.errors" class="invalid-feedback">
                <div *ngIf="formData.get('emailAddress')?.errors?.[required]">Email is required</div>
              </div>
            </div>
            <button [disabled]="loading" type="submit" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Reset Password
            </button>
            <br>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <br>
            <a class="pull-left" routerLink="/sso">Login</a>
          </form>
        </div>
      </div>
    </div>
</div>
