

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    loan
                </th>
                <th scope="col" class="px-6 py-3">
                    Account number
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    EQUITY BANK LTD"
                </th>
                <td class="px-6 py-4">
                    1134676809
                </td>
                <td class="px-6 py-4">
                    14-03-2022
                </td>
                <td class="px-6 py-4">
                    1509765
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">INCOMPLETE</a>
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    FAMILY BANK
                </th>
                <td class="px-6 py-4">
                    8766544800
                </td>
                <td class="px-6 py-4">
                    05-12-2023
                </td>
                <td class="px-6 py-4">
                    7976533
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">COMPLETE</a>
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    KCB
                </th>
                <td class="px-6 py-4">
                    0167083766633
                </td>
                <td class="px-6 py-4">
                    30-11-2021
                </td>
                <td class="px-6 py-4">
                    4987654
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">INCOMPLETE</a>
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    COOPERATIVE BANK
                </th>
                <td class="px-6 py-4">
                    0028262622777
                </td>
                <td class="px-6 py-4">
                    14-01-2023
                </td>
                <td class="px-6 py-4">
                    3954343
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">COMPLETE</a>
                </td>
            </tr>
            <div class="pagination">
                <a href="#" class="prev">&laquo; Prev</a>
                <a href="#" class="page">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <a href="#" class="page">4</a>
                <a href="#" class="page">5</a>
                <a href="#" class="next">Next &raquo;</a>
            </div>
            
            
                