<div class=" bg-white mt-7 overflow-auto justify-center">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

  <div class="flex xl:flex-row lg:flex-row md:flex-row justify-left">
    <div class="flex-grow w-full sm:w-48 max-w-xs mx-2 sm:mx-4 mb-4 rounded-lg shadow-lg overflow-hidden relative flex flex-col justify-between border-2" style="background-image: linear-gradient(135deg, #480e2c 0%, rgb(159, 99, 26) 100%);">
      <div class="p-3 flex items-center justify-between">
        <h3 class="text-lg font-serif font-semibold text-violet-100 mb-1">Total Income</h3>
        <i class="bi bi-piggy-bank text-violet-100 text-xl"></i>
      </div>
      <a href="/feeCollections">
        <p class="text-violet-100 mb-3 text-2xl font-bold p-1 hover:scale-110 self-end">Ksh. {{ totalIncomes }}</p>
      </a>
    </div>
    
  
    <!-- Total Expenses Card -->
    <div class="flex-grow w-full sm:w-48 max-w-xs mx-2 sm:mx-4 mb-4 rounded-lg shadow-lg overflow-hidden relative flex flex-col justify-between border-2" style="background-image: linear-gradient(135deg, #480e2c 0%, rgb(159, 99, 26) 100%);">
      <div class="p-3 flex items-center justify-between">
        <h3 class="text-lg font-serif font-semibold text-violet-100 mb-1">Total Expenses</h3>
        <i class="bi bi-receipt text-violet-100 text-xl"></i>
      </div>
      <a href="/expenses">
      <p class="text-violet-100 mb-3 text-2xl font-bold p-1 hover:scale-110 self-end">Ksh. {{ totalExpenses }}</p>
    </a>
    </div>
  
    <!-- Net Incomes Card -->
    <div class="flex-grow w-full sm:w-48 max-w-xs mx-2 sm:mx-4 mb-4 rounded-lg shadow-lg overflow-hidden relative flex flex-col justify-between border-2" style="background-image: linear-gradient(135deg, #480e2c 0%, rgb(159, 99, 26) 100%);">
      <div class="p-3 flex items-center justify-between">
        <h3 class="text-lg font-serif font-semibold text-violet-100 mb-1">Net income</h3>
        <i class="bi bi-people text-violet-100 text-xl"></i>
      </div>
      <a href="/supplies">
      <p class="text-violet-100 mb-3 text-2xl font-bold p-1 hover:scale-110 self-end">Ksh. {{ totalIncomes }}</p>
      </a>
    </div>
    
  
    <!-- Supplies Card -->
    <div class="flex-grow w-full sm:w-48 max-w-xs mx-2 sm:mx-4 mb-4 rounded-lg shadow-lg overflow-hidden relative flex flex-col justify-between border-2" style="background-image: linear-gradient(135deg, #480e2c 0%, rgb(159, 99, 26) 100%);">
      <div class="p-3 flex items-center justify-between">
        <h3 class="text-lg font-serif font-semibold text-violet-100 mb-1">Suppliers</h3>
        <i class="bi bi-people text-violet-100 text-xl"></i>
      </div>
      <a href="/supplies">
      <p class="text-violet-100 mb-3 text-2xl font-bold p-1 hover:scale-110 self-end">Ksh. {{ totalSupplierAmount }}</p>
      </a>
    </div>
  </div>
  
  <div class="flex space-x-4 ml-4 mt-4 mb-10 ">
    <app-graph-one class="flex-1 h-full"></app-graph-one>
    <app-graph-two class="flex-1 h-full w-full"></app-graph-two>
    <!-- <app-graph-three class="flex-1 h-full"></app-graph-three> -->
  </div>
</div>