<div class="sidebar overflow-y-auto w-56 py-0 px-3 h-full bg-pink-950" [class.open]="sidebarOpen">
  <!-- section A -->
  <div class="profile-card bg-pink-950 text-white mb-0">
    <div class="row">
      <div class="col-md-12">
        <div class="avater">
          <mat-icon
            style="font-size: 50px !important; height: 50px; width: 50px; padding-top: 2px;">account_circle</mat-icon>
        </div>
        <div class="header">
          
          <p>
            <small><b>Role :</b>{{ role }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- <h2 matSubheader class="bg-pink-950 text-white py-0 m-0">Pages</h2> -->
  <form action="#" method="GET" class="md:hidden mb-2">
    <label for="sidebar-search" class="sr-only">Search</label>
    <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z">
          </path>
        </svg>
      </div>
      <input type="text" name="search" id="sidebar-search"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="" />
    </div>
  </form>
  <ul class="side_button gap-0 flex flex-col ">
    <li class="list_button" routerLinkActive="active">
      <a [routerLink]="['home']"
        class=" text-white hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 p-2 bg-pink-950  rounded-lg shadow-xl  flex gap-2 items-center row hover:scale-[1.05]">
        <i class="bi bi-speedometer2"></i>

        <!-- <img src=".\assets\internship-3833168-3185247.png" class="w-10 bg-gradient-to-br from-red-500 to-red-900 rounded-lg p-2 text-red " alt="dashboard"> -->
        <span>Dashboard</span>
      </a>

    </li>
    <li class="list_button">
      <div class="">
        <div (click)='closeNav1()'
          class="text-white hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 shadow-xl p-2 bg-pink-950 rounded-lg  flex gap-2 items-center hover:scale-[1.05] cursor-pointer">
          <i class="bi bi-cash"></i>
          <span>Transactions</span>
          <span class="font-extrabold ml-auto">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
        <div [hidden]="isHidden1" class="p-2 flex-col">

          <div (click)="closeIncome()" class="mb-2">
            <span [routerLink]="['Incometypes']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">Income
              <span class="font-extrabold ml-auto text-white">
                <i class="bi bi-chevron-down"></i>
              </span></span>
            <div [hidden]="isHidden3">
              
            </div>
          </div>
          <div (click)="closeIncome()" class="mb-2">
            <!-- <span [routerLink]="['feePayments']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">fee-payment
              <span class="font-extrabold ml-auto text-white">
                <i class="bi bi-chevron-down"></i>
              </span> -->
            <!-- </span> -->
            <!-- <span [routerLink]="['FeeStatement']"
              class="flex w-full p-2 mt-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">Fee Statement
              <span class="font-extrabold ml-auto text-white">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span> -->
            <div [hidden]="isHidden3">
              
            </div>
          </div>
          <div (click)="closeExpenses()">
            <span
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-w rounded-lg hover:scale-[1.03] shadow-lg text-white">Expenses
              <span class="font-extrabold ml-auto text-white">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
            <div [hidden]="isHidden4">
              <ul class='p-2 flex flex-col gap-1 '>

                <li><a [routerLink]="['expenses/home']"
                    class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>
                    add expense</a></li>

                <!--                 <li><a [routerLink]="['expenses/home']"
                  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>
                  add expense</a></li> -->

                <li><a [routerLink]="['loans']"
                    class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>
                    Loans</a></li>
                <li><a [routerLink]="['salaries']"
                    class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>
                    Salaries</a></li>
                <li><a [routerLink]="['supplies']"
                    class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>
                    Supplies</a></li>
                <li><a [routerLink]="['utilities']"
                    class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>
                    Utilities</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list_button  ">
      <div>
        <div (click)="closeNavS()"
          class="text-white shadow-xl p-2 bg-pink-950 rounded-lg flex gap-2 items-center row hover:scale-[1.05] hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 cursor-pointer">
          <i class="bi bi-people"></i>
          <span> Registry</span>
          <span class="font-extrabold ml-auto">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
        <div [hidden]="isHidden9">
          <ul class="p-2 flex flex-col gap-1">

            <li><a [routerLink]="['student']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">Students</a>
            </li>
            <li><a [routerLink]="['staff']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">Staff</a>
            </li>
            <li><a [routerLink]="['parent']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">Parents</a>
            </li>
            <li><a [routerLink]="['feecategory']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">
                Fee Category</a>
            </li>
            <li><a [routerLink]="['school']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">Schools</a>
            </li>
            <!-- 
              <li><a [routerLink]="['student']"  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>Student</a></li>
              <li><a [routerLink]="['staff']"  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>Staff</a></li>
              <li><a [routerLink]="['staff']"  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>Parents</a></li>
              <li><a [routerLink]="['feecategory']"  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>Fee Category</a></li>
 -->
          </ul>
        </div>
      </div>
    </li>
    <!-- Modified Reports-->
    <li class="list_button">
      <div class="">
        <div (click)='closeNav2()'
          class="text-white hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 shadow-xl p-2 bg-pink-950 rounded-lg  flex gap-2 items-center hover:scale-[1.05] cursor-pointer">
          <i class="bi bi-file-text"></i>
          <span>Reports</span>
          <span class="font-extrabold ml-auto">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
        <div [hidden]="isHidden2" class="p-2 flex-col">

          <div (click)="closeReports()" class="mb-2">
            <a [routerLink]="['reports']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg ">View
              Reports<span class="font-extrabold ml-auto text-white">
                <i class="bi bi-chevron-down"></i>
              </span></a>
            <div [hidden]="isHidden6">
            </div>
          </div>

          <!-- <div (click)="closeReports()">
            <a [routerLink]="['ChartsOfAccounts']"
              class="flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-pink-800 text-w rounded-lg hover:scale-[1.03] shadow-lg text-white">
              Charts of Accounts
              <span class="font-extrabold ml-auto text-white">
                <i class="bi bi-chevron-down"></i>
              </span>
            </a>
            <div [hidden]="isHidden5">
            </div>
          </div> -->
        </div>
      </div>
    </li>
    <li class="list_button">
      <div>
        <div (click)="closeNav()"
          class="text-white shadow-xl p-2 bg-pink-950 rounded-lg flex gap-2 items-center row hover:scale-[1.05] hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 cursor-pointer">
          <i class="bi bi-people"></i>
          <span> Access Management</span>
          <span class="font-extrabold ml-auto">
            <i class="bi bi-chevron-down"></i>
          </span>
        </div>
        <div [hidden]="isHidden">
          <ul class="p-2 flex flex-col gap-1">
            <!-- <li><a [routerLink]="['']"
                class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>workclass</a>
            </li>
            <li><a [routerLink]="['staff']"
                class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>Actions</a>
            </li> -->
            <li><a [routerLink]="['roles']"
                class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 focus:text-black bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg'>Roles</a>
            </li>
            <li><a [routerLink]="['SystemUsers']"
                class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 focus:text-black bg-pink-800 text-white rounded-lg hover:scale-[1.03] shadow-lg'>USER</a>
            </li>


            <!--             </li>
            <li><a [routerLink]="['SystemUsers']"
                class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>USER</a>
          </li> -->
            <li><a [routerLink]="['School']"
                class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>school</a>
            </li>

          </ul>
        </div>
      </div>
    </li>
  </ul>

  <!-- <li class="list_button  ">
    <div>
      <div (click)="closeNav()"
        class="text-white shadow-xl p-2 bg-pink-950 rounded-lg flex gap-2 items-center row hover:scale-[1.05] hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300">
        <i class="bi bi-people"></i> -->
  <!-- <img src=".\assets\internship-3833168-3185247.png"  class="w-10 bg-gradient-to-br from-red-500 to-red-900 rounded-lg p-2" alt="dashboard"> -->
  <!-- <span> System Management</span>
        <span class="font-extrabold ml-auto">
          <i class="bi bi-chevron-down"></i>
        </span>
      </div> -->
  <!-- <div [hidden]="isHidden">
        <ul class="p-2 flex flex-col gap-1">
          <li><a [routerLink]="['student']"
            class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>students</a>
        </li>
            <li><a [routerLink]="['staff']"  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>staff</a></li>
            <li><a [routerLink]="['staff']"  class='flex w-full p-2 hover:border-gray-300 hover:border hover:border-solid-sm focus:bg-red-300 bg-white rounded-lg hover:scale-[1.03] shadow-lg '>others</a></li>
        </ul> -->
  <!-- </div>
    </div>
  </li> -->
</div>