<div mat-dialog-title class="bg-pink-950">
  <h1 class="text-white">Fee Category Form</h1>
</div>
<form [formGroup]="AddEditForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
      <div class="flex flex-row gap-2 ">
          <mat-form-field class="mt-2.5 w-full">
              <label for="name">Name</label>
              <input matInput placeholder="" formControlName="name" >
          </mat-form-field>

         
          <mat-form-field class="mt-2.5 w-full">
            <label for="grade">Grade</label>
            <input matInput placeholder="" formControlName="grade" >
        </mat-form-field>
      </div>
      
      

      <div class="flex flex-row gap-2 ">
         <mat-form-field class="mt-2.5 w-full">
            <label for="term">Term</label>
            <input matInput placeholder="" formControlName="term" >
        </mat-form-field>

        <mat-form-field class="mt-2.5 w-full">
            <label for="amount">Amount</label>
            <input matInput placeholder="" formControlName="amount" >
        </mat-form-field>
    </div>
    <!-- <div class="flex flex-row gap-2 ">
        <mat-radio-group aria-label="Select an option"formControlName="apply" id="apply"  >
            <mat-label><b>Apply</b></mat-label>
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="optional">Optional</mat-radio-button>
          </mat-radio-group>

          
    </div> -->
          
    
  </div>
  <div mat-dialog-actions class="flex flex-row gap-2 p-4 ">
    <button mat-raised-button type="button" [mat-dialog-close]="false"
      class="flex-1 border-2  border-pink-950 bg-pink-50 hover:bg-red-900 focus:ring-4 focus:ring-red-700 hover:text-white px-2 py-1 rounded-lg text-sm mx-2">
      Cancel
    </button>
    <button title="Submit Details" mat-raised-button type="submit"
      class="flex-1 border-2  border-pink-950 bg-pink-50 hover:bg-red-900 focus:ring-4 focus:ring-red-700 hover:text-white px-2 py-1 rounded-lg text-sm mx-2">
      Save
    </button>
  </div>
</form>
