<div mat-dialog-title class="bg-pink-950">
  <h1 class="text-white">Parent Creation Form</h1>
</div>

<form [formGroup]="parentForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <!-- Loading Spinner -->
    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Form Fields -->
    <div class="flex flex-row gap-2 ">
      <mat-form-field class="mt-2.5 w-full ">
        <mat-label>FIRST NAME</mat-label>
        <input matInput placeholder="eg.Simon" formControlName="first_name" required="">
      </mat-form-field>
      <mat-form-field class="mt-2.5 w-full ">
        <mat-label>LAST NAME</mat-label>
        <input matInput placeholder="eg.Khamana" formControlName="last_name" required="">
      </mat-form-field>
    </div>
    
    <div class="flex flex-row gap-2 ">
      <mat-form-field class="mt-2.5 w-full ">
        <mat-label>PHONE NUMBER</mat-label>
        <input matInput placeholder="eg. 0785 433 XXX" formControlName="phone_number">
      </mat-form-field>
      <mat-form-field class="mt-2.5 w-full">
        <mat-label>ID Number</mat-label>
        <input matInput placeholder="eg. 324XXXXX" formControlName="parentIdno">
      </mat-form-field>
      <mat-form-field class="mt-2.5 w-full">
        <mat-label>EMAIL</mat-label>
        <input matInput placeholder="eg.none.none@none.com" formControlName="email">
      </mat-form-field>
    </div>
  </div>
  
  <div mat-dialog-actions class="flex flex-row gap-2 p-4 ">
    <button mat-raised-button type="button" [mat-dialog-close]="false"
      class="flex-1 border-2 border-pink-950 bg-pink-50 hover:bg-red-900 focus:ring-4 focus:ring-red-700 hover:text-white px-2 py-1 rounded-lg text-sm mx-2">
      Cancel
    </button>
    <button title="Submit Details" mat-raised-button type="submit"
      class="flex-1 border-2 border-pink-950 bg-pink-50 hover:bg-red-900 focus:ring-4 focus:ring-red-700 hover:text-white px-2 py-1 rounded-lg text-sm mx-2">
      {{ data ? 'Update' : 'Submit'}}
    </button>
  </div>
</form>