<div
      class="flex-grow w-full sm:w-48 max-w-xs mx-2 sm:mx-4 mb-4 bg-violet-100 rounded-lg shadow-lg overflow-hidden relative flex flex-col justify-between border-2 border-pink-950">
      <!-- Bootstrap Icon for Total Expenses -->
      <i class="bi bi-cash-stack text-pink-950 text-4xl absolute top-3 right-3"></i>
      <div class="p-3">
        <h3 class="text-lg font-serif font-semibold text-pink-950 mb-1">Total Expenses</h3>
      </div>
      <p class="text-pink-950 mb-3 text-2xl font-bold p-1 hover:scale-110 self-end">Ksh. 30,000,000</p>
    </div>