<!-- <div class="header bg-violet-100 p-2 flex items-center justify-between">
    <h2  mat-dialog-title class="text-white mr-auto">Add Expense</h2>
    <span class="example-full-width"></span>
    <button mat-dialog-close (click)="close()" class=""><mat-icon color="red">close</mat-icon></button>
</div>

<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="container mx-auto mt-8 px-1">
            <div class="flex flex-wrap -mx-2 mb-4">
                <div class="w-full md:w-1/2 px-2 mb-4">
                    <label for="expenseName" class="block text-sm font-medium text-gray-700 mb-1">Expense Name</label>
                    <input id="expenseName" formControlName="name" type="text" class="px-3 py-2 bg-violet-100 border-2 border-pink-950 rounded-md w-full shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" placeholder="input expense name">
                    <small style="color: red;" *ngIf="name?.hasError('required') && (name?.dirty || name?.touched)">expense name is required</small>
                </div>
        
                <div class="w-full md:w-1/2 px-2 mb-4">
                    <label for="amount" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                    <input id="amount" formControlName="description" type="text" class="px-3 py-2 bg-violet-100 border-2 border-pink-950 rounded-md w-full shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" placeholder="enter a description">
                    <small style="color: red;" *ngIf="description?.hasError('required') && (description?.dirty || description?.touched)">description is required</small>
                </div>
    
                <div class="w-full md:w-1/2 px-2 mb-4">
                    <label for="date" class="block text-sm font-medium text-gray-700 mb-1">Status</label>
                    <input id="date" formControlName="status" type="text" class="px-3 py-2 bg-violet-100 border-2 border-pink-950 rounded-md w-full shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" placeholder="enter status">
                    <small style="color: red;" *ngIf="status?.hasError('required') && (status?.dirty || status?.touched)">status is required</small>
                </div>
            </div>
        
            <div class="flex flex-row-reverse">
                <button mat-button color="warn" class="mr-2 text-red-500 hover:bg-violet-100" mat-dialog-close>Cancel</button>

                <button mat-button class="relative text-pink-950 bg-pink-500 hover:bg-violet-100" style="color: purple;">
                    <div class="flex items-center">
                        <span *ngIf="loading" class="mr-2">
                            <svg width="20" height="20" fill="currentColor" class="animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
                                </path>
                            </svg>
                        </span>
                        <span *ngIf="loading">loading</span>
                    </div>
                    <span *ngIf="!loading">Submit</span>
                </button>
            </div>
        </div>
    </form>
</mat-dialog-content>

 -->
