* {
    box-sizing: border-box;
}

.delete button {
    cursor: pointer;
    background-color: rgb(172, 143, 143);
    border: none;
}

.delete button:first-child {
    margin-right: 20px; /* Add margin only to the first button */
    margin-left: 20px;
}

.card .delete {
    display: flex; /* Use flexbox for the container */
    justify-content: flex-end; /* Align buttons to the end of the container */
    margin-top: 20px; /* Adjust margin as needed */
}

button {
    width: auto; /* Let the width adjust to content */
}
