html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gradient-background {
    background-image: linear-gradient(135deg, #480e2c 0%, rgb(159, 99, 26) 100%);
  }
  