<div class="min-h-screen flex">
    <!-- Left side with gradient background, logo, and text -->
    <div class="w-2/3 bg-gradient-to-tr from-[#480e2c] to-[#9f631a] flex flex-col justify-start items-start relative pl-8">
        <div class="ml-8 mt-8">
            <img class="w-32 h-32 mb-4" src="/assets/Elimu pay Logo.png" alt="logo">
            <div class="text-white">
                <h1 class="text-4xl font-bold">Welcome to Elimupay</h1>
                <p class="text-2xl font-bold">Empowering Education, Embracing Innovation</p>
            </div>
        </div>
    </div>
    
    <!-- Right side with login form -->
    <div class="w-1/3 flex flex-col justify-center items-center bg-white">
        <div class="text-center mb-8">
            <h2 class="text-4xl font-bold mb-2">Sign In</h2>
            <p class="text-xl text-gray-600">To continue, please log in. Keep your password confidential and do not share it with others.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-md w-96">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div>
                    <div class="mb-4">
                        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                        <input type="text" formControlName="username" id="username" name="username"
                            class="mt-1 block w-full border-gray-500 rounded-md shadow-sm focus:border-pink-950 focus:ring focus:ring-pink-950 focus:ring-opacity-60"
                            placeholder="Enter your username" required>
                        <small class="text-red-500"
                            *ngIf="username?.hasError('required') && (username?.dirty || username?.touched)">Username is
                            required</small>
                    </div>

                    <div class="mb-4">
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <div class="relative">
                            <input [type]="passwordFieldType" id="password" name="password" formControlName="password"
                                class="mt-1 block w-full border-gray-500 rounded-md shadow-sm focus:border-pink-950 focus:ring focus:ring-pink-950 focus:ring-opacity-60"
                                placeholder="Enter your password" required>
                            <button type="button" (click)="togglePasswordVisibility()"
                                class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                <span class="fa fa-eye text-pink-950"
                                    [ngClass]="{'fa-eye-slash': !passwordVisible, 'fa-eye': passwordVisible}"></span>
                            </button>
                        </div>
                        <small class="text-red-500"
                            *ngIf="password?.hasError('required') && (password?.dirty || password?.touched)">Password is
                            required</small>
                    </div>
                </div>

                <div class="flex items-center justify-between mb-4">
                    <div class="text-sm">
                        <a href="passwordreset" class="font-medium text-blue-600 hover:text-indigo-500">Forgot password?</a>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button type="submit" [disabled]="loginForm.invalid"
                        class="w-full text-white bg-pink-950 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
