<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PAY FEES</span>
  <span>SELECT CHANNEL>></span>
  <span class="example-spacer"></span>
  <button mat-raised-button  class="border border-pink-950 hover:bg-pink-950 hover:text-white rounded-lg px-2 py-1 text-sm transition-transform duration-300 transform focus:scale-110" (click)="openPayFeeForm()">
    MPESA
    </button>
    <button mat-raised-button  class="border border-pink-950 hover:bg-pink-950 hover:text-white rounded-lg px-2 py-1 text-sm transition-transform duration-300 transform focus:scale-110" (click)="openPayFeeForm()">
      BANK ACCOUNT
      </button>
</mat-toolbar>

  


  
  


